@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --container-background-color: #fff;
  --scroll-color: #fff;
  --loading-background-color: #aaa;
  --loading-primary-color: #0d0d0d;
  --search-background: #111111;
  --color: #000;
  --input-border-color: #000;
  --input-selected-border-color: #d00303;
  --color-hover: #fff;
  --menu-header-color: #d00303;
  --menu-header-color-accent: #fff;
  --input-color: #fff;
  --login-backgroud-color: #fff;
  --login-header-foreground-color: #000x;
  --shadow-color: #ccc;
  --container-shadow-color: #646464;
  --disable-color: #cacaca;
  --disable-color-accent: #1e1e1e;
  --blocker-color: #222;
  --background-color: #fff;
  --menu-item-container-color: #fff;
  --menu-item-container-color-accent: #000;
  --primary-color: #d00303;
  --primary-color-accent: #fff;
  --primary-color-selected: #ffa500;
  --primary-color-selected-accent: #000;
  --primary-color-hover: #fbc400;
  --primary-color-hover-accent: #000;
  --primary-color-menu-inactive: #ddd;
  --secondary-color: #fbc400;
  --secondary-color-accent: #fff;
  --table-color: #fff;
  --table-color-accent: #000;
  --table-alternating: #eee;
  --table-alternating-accent: #000;
  --table-selected-color: #ffa500;
  --table-selected-color-accent: #000;
  --table-hover-color: #fbc400;
  --table-hover-color-accent: #000;
  --toaster-background-color: #010014;
  --toaster-background-color-accent: #fff;
  --title-container-background: #171717;
  --button-color: #ffa500;
  --button-color-accent: #000;
  --secondary-button-color: #ccc;
  --secondary-button-color-accent: #000;
  --checked-button-color: #111;
  --checked-button-color-accent: #fff;
  --unchecked-button-color: #adadad;
  --unchecked-button-color-accent: rgb(0, 0, 0);
  --total-amount-color: green;
  --void-color: #2e0f0f;
  --void-color-accent: #fff;
  --add-color: #222c0b;
  --add-color-accent: #fff;
  --label-size: 0.7rem;
  --normal-font-size: 0.9rem;
  --report-header-font-size: 1rem;
  --value-font-size: 1rem;
  --banner-font-size: 1rem;
  --menu-header-font-size: 1rem;
  --menu-icon-font-size: 1rem;
  --menu-font-size: 1rem;
  --modal-header-font-size: 1.1rem;
  --header-font-size: 1.2rem;
  --table-header-font-size: 0.9rem;
  --login-header-font-size: 1.6rem;
  --loading-font-size: 1.5rem;
  --light: 400;
  --regular: 500;
  --demibold: 700;
  --bold: 900;
}

/* width */
::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.3em;
  background: var(--container-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border: 0.1em solid var(--container-background-color);
  border-radius: 0.3em;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: var(--light);
  font-size: var(--normal-font-size);
}

body {
  margin: 0 !important;
  padding: 0;
  background: var(--background-color);
  color: var(--color);
  overflow-x: hidden;
}

.main-container {
  background-color: var(--container-background-color);
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.3em;
}

.title-container {
  z-index: 5;
  margin: 0.5em 1em 1.5em 1em;
  width: 100%;
}
.title-container .title {
  font-size: var(--header-font-size);
  font-weight: var(--regular);
  color: var(--color);
}

.wrap-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: -moz-fit-content;
  height: fit-content;
}
.wrap-container .custom-input {
  flex: 1 1 50%;
}

.timelog-main-container {
  display: flex;
}
.timelog-main-container .timelog-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.timelog-main-container .date-range-container {
  display: flex;
}
.timelog-main-container .logs-container {
  max-height: 50vh;
}

header {
  box-shadow: 0em 0em 0.3em var(--shadow-color);
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  padding: 0em 0.5em;
  height: 8vh;
  z-index: 5;
  display: flex;
  align-items: center;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0.7em 0;
}
header nav .main-nav-icon {
  color: var(--primary-color-accent) !important;
  text-decoration: none !important;
  font-size: var(--normal-font-size);
  background-color: unset !important;
  cursor: pointer;
}
header nav .nav-icon {
  color: var(--menu-item-container-color-accent);
  text-decoration: none !important;
  font-size: var(--normal-font-size);
  background-color: unset !important;
  cursor: pointer;
}
header nav .name {
  margin-right: 1em;
}
header nav .name .nav-menu {
  font-weight: var(--demibold) !important;
}
header nav .name .name-subtitle {
  color: var(--primary-color-accent);
  font-style: italic;
}
header nav .menu-container {
  display: flex;
  align-items: center;
}
header nav .menu-container span {
  font-size: var(--label-size);
  float: right;
}
header nav .mobile-profile {
  display: none;
}
header nav .desktop-profile {
  display: flex;
}
header nav .desktop-profile .nav-icon {
  margin-left: 1em;
}
header nav .icon {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--primary-color-accent);
  display: flex;
  align-items: center;
  margin-left: -0.5em;
}
header nav .icon label {
  font-size: var(--menu-icon-fon t-size);
  font-weight: var(--bold);
  text-align: center;
}
header nav .icon img {
  border-radius: 0.3em;
  height: 3em;
}
header nav .logo {
  height: 3em;
  cursor: pointer;
}
header nav .nav-menu {
  font-size: var(--menu-font-size);
  color: var(--primary-color-accent);
  cursor: pointer;
}
header nav .nav-menu:hover:not(.active) {
  color: var(--primary-color-accent);
}
header nav .menu-show {
  opacity: 1 !important;
  z-index: 99999999 !important;
  width: 100% !important;
  box-sizing: border-box !important;
}
header nav .menu-show .menu-icon {
  height: 1em !important;
}
header nav .menus {
  transition: width ease-in-out 0.3s;
  height: 100vh;
  top: 0;
  cursor: pointer;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  box-sizing: border-box;
  width: 0em;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
header nav .menus .menu-item-container {
  background-color: var(--menu-item-container-color);
  width: 25%;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: 0em 0em 0.4em var(--shadow-color);
  display: flex;
  flex-direction: column;
}
header nav .menus .menu-item-container .menu-item-header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
header nav .menus .menu-item-container .menus-main-container {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
header nav .menus .menu-item-container .menus-main-container .menus-container {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 1em 0em;
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-head {
  background-color: var(--menu-header-color);
  color: var(--menu-header-color-accent) !important;
  padding: 0.5em;
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-head label {
  font-weight: var(--demibold);
  font-size: var(--menu-header-font-size);
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .main-menus a {
  padding: 0.5em 1.5em 0.5em 1em !important;
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .navs,
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .main-menus {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .navs a,
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .main-menus a {
  text-align: left;
  font-size: var(--menu-font-size);
  color: var(--menu-item-container-color-accent);
  padding: 0.5em 1.5em;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s;
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .navs a:hover,
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .main-menus a:hover {
  background-color: var(--primary-color-hover);
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .navs a:hover .menu-icon,
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .main-menus a:hover .menu-icon {
  transform: scale(1.1);
}
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .navs a .menu-icon,
header nav .menus .menu-item-container .menus-main-container .menus-container .menu-items .main-menus a .menu-icon {
  transition: height ease-in-out 0.5s;
  height: 0;
  float: right;
}
header nav .menus .menu-content-blocker {
  width: 75%;
  height: 100vh;
  overflow: hidden;
}
header nav a,
header nav label {
  font-size: var(--label-size);
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
header nav button {
  font-size: var(--normal-font-size);
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  cursor: pointer;
  border: none;
  outline: none;
}
header nav .active {
  pointer-events: none;
  color: var(--primary-color-selected-accent);
  background-color: var(--primary-color-selected);
}

section {
  width: 100%;
  margin: 0 auto;
}

.login-base-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-base-container .login-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40em;
}
.login-base-container .login-container .login-header {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold);
  top: -5em;
  height: 10em;
  width: 10em;
  background: var(--login-backgroud-color);
  box-sizing: border-box;
  box-shadow: 0em 0em 1em var(--shadow-color);
  border-radius: 50%;
  overflow: hidden;
}
.login-base-container .login-container .login-header .login-logo {
  width: 100%;
  z-index: 3;
  position: absolute;
}
.login-base-container .login-container .login-header::before {
  content: "";
  z-index: 2;
  position: absolute;
  height: 50%;
  width: 100%;
  background: var(--login-backgroud-color);
}
.login-base-container .login-container .login-content {
  position: relative;
  border-radius: 1em;
  z-index: 1;
  background: var(--login-backgroud-color);
  box-shadow: 0em 0em 1em var(--shadow-color);
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-base-container .login-container .login-content .content-header {
  font-size: var(--login-header-font-size);
  font-weight: var(--demibold);
}
.login-base-container .login-container .login-content .custom-input {
  margin-bottom: 1em;
}
.login-base-container .login-container .login-content .full-width {
  width: 100% !important;
  margin: 0 !important;
}
.login-base-container .login-container .login-content .btn-actions-group {
  margin-bottom: 1em !important;
}
.login-base-container .login-container .login-content .btn-actions-group .btn-action {
  scale: 1 !important;
}

.center {
  text-align: center;
}

textarea {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  resize: none;
  border: 0.01em solid var(--input-color);
  border-radius: 0.3em;
}

select,
textarea,
input {
  border: 0.01em solid var(--input-border-color);
  color: var(--color);
  border-radius: 0.3em;
  font-size: var(--normal-font-size) !important;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--container-background-color);
}
select:focus,
textarea:focus,
input:focus {
  outline: none;
  border: 0.01em solid var(--input-selected-border-color);
  box-shadow: 0em 0em 0.01em 0em var(--shadow-color);
}
select:-moz-read-only, textarea:-moz-read-only, input:-moz-read-only {
  border: 0.01em solid var(--input-border-color) !important;
  color: var(--color) !important;
}
select:read-only,
textarea:read-only,
input:read-only {
  border: 0.01em solid var(--input-border-color) !important;
  color: var(--color) !important;
}
select:disabled,
textarea:disabled,
input:disabled {
  background-color: var(--shadow-color);
}

.btn-tool {
  background: transparent;
  border: none !important;
  color: var(--color);
  cursor: pointer;
  outline: none !important;
  margin: 2em 1em 1em 0em;
  display: flex;
}

.custom-number input {
  text-align: end;
}

.custom-input {
  width: 100%;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  justify-content: space-between;
  position: relative;
}
.custom-input .selector .icon-container {
  position: absolute;
  right: 0.5em;
  align-self: center;
}
.custom-input .selector .icon-container .icon {
  cursor: pointer;
  color: var(--color);
}
.custom-input .selector .icon-container .close-icon {
  cursor: pointer;
  color: var(--color);
  margin: 0 0.5em;
}
.custom-input label {
  font-size: var(--label-size);
  font-weight: var(--demibold);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.8;
  margin: 0.4em 0em 0.25em 0em;
}
.custom-input input,
.custom-input select {
  min-height: 2.5em;
}
.custom-input input:-moz-read-only, .custom-input select:-moz-read-only {
  cursor: default;
}
.custom-input input:read-only,
.custom-input select:read-only {
  cursor: default;
}
.custom-input select {
  text-overflow: ellipsis;
  cursor: pointer;
}
.custom-input select:focus {
  outline: none;
}
.custom-input .password-container input,
.custom-input .select-container input {
  padding: 0.5em 2em 0.5em 0.5em;
}
.custom-input .custom-number {
  text-align: right;
}
.custom-input .input-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.custom-input .input-container .eye-container {
  position: absolute;
  right: 0.5em;
  align-self: center;
}
.custom-input .input-container .eye-container .icon {
  cursor: pointer;
  color: var(--color);
}
.custom-input .input-container .magnify-container {
  position: absolute;
  right: 0.5em;
  align-self: center;
}
.custom-input .input-container .magnify-container .icon {
  cursor: pointer;
  color: var(--color);
}
.custom-input .input-container .hidden {
  display: none;
}
.custom-input .input-container .password,
.custom-input .input-container .selector {
  padding-right: 2em;
}
.custom-input .input-container input::-ms-clear, .custom-input .input-container input::-ms-reveal {
  display: none;
}
.custom-input .input-container input:-moz-read-only {
  color: var(--shadow-color);
  border-color: var(--shadow-color);
}
.custom-input .input-container input:read-only {
  color: var(--shadow-color);
  border-color: var(--shadow-color);
}
.custom-input .checkbox-button {
  width: 100%;
  display: flex;
  border-radius: 0.3em;
  margin: 0.1em 0em;
  height: 2.5em;
  cursor: pointer;
  box-sizing: border-box;
}
.custom-input .checkbox-button .check-true {
  border-radius: 0.3em 0em 0em 0.3em;
}
.custom-input .checkbox-button .check-false {
  border-radius: 0em 0.3em 0.3em 0em;
}
.custom-input .checkbox-button .btn-check {
  width: 100%;
  box-sizing: border-box;
  outline: none !important;
  cursor: pointer;
  border: none;
  font-size: var(--normal-font-size);
  padding: 0.5em;
  border: 0.01em solid var(--input-border-color);
}
.custom-input .checkbox-button .unchecked {
  box-shadow: inset 0em 0em 0.3em var(--shadow-color);
  background-color: var(--unchecked-button-color);
  color: var(--unchecked-button-color-accent);
}
.custom-input .checkbox-button .checked {
  background-color: var(--checked-button-color);
  color: var(--checked-button-color-accent);
}
.custom-input .datepicker-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.custom-input .datepicker-container .react-datepicker-popper {
  z-index: 9;
}
.custom-input .datepicker-container .react-datepicker__day--keyboard-selected,
.custom-input .datepicker-container .react-datepicker__day--selected {
  background-color: var(--primary-color);
}
.custom-input .datepicker-container .react-datepicker__day--keyboard-selected:hover,
.custom-input .datepicker-container .react-datepicker__day--selected:hover {
  background-color: var(--primary-color-hover);
}
.custom-input .datepicker-container .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
.custom-input .datepicker-container .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.custom-input .datepicker-container .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after,
.custom-input .datepicker-container .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  left: -1.2em;
}
.custom-input .select-container {
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 0.3em;
}
.custom-input .select-container .select-input-container input:focus + .icon-container .icon {
  color: var(--primary-color);
}
.custom-input .select-container .select-input-container input {
  cursor: pointer;
  padding-right: 1.7em;
}
.custom-input .select-container .select-input-container .icon-container {
  position: absolute;
  right: 0.5em;
  align-self: center;
}
.custom-input .select-container .select-input-container .icon-container .icon {
  cursor: pointer;
  color: var(--color);
}
.custom-input .select-container .select-input-container .icon-container .close-icon {
  cursor: pointer;
  color: var(--color);
  margin: 0 0.5em;
}
.custom-input:focus-within .current-selection-icon,
.custom-input:focus-within label {
  font-weight: var(--demibold);
  opacity: 1;
}

.selection {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  box-sizing: border-box;
  background: var(--container-background-color);
  box-shadow: 0em 0em 0.5em 0.1em var(--shadow-color);
}
.selection .search-input {
  margin: 1em;
  width: calc(100% - 2em);
}
.selection .selection-list {
  min-height: 2em;
  max-height: 20em;
  overflow: auto;
}
.selection .selection-list .selected {
  background-color: var(--primary-color) !important;
  color: var(--primary-color-accent) !important;
}
.selection .selection-list .selection-item:nth-child(odd) {
  background-color: var(--primary-table-alternating);
  color: var(--primary-table-alternating-accent);
}
.selection .selection-list .selection-item {
  padding: 0.3em 0.5em;
  cursor: pointer;
}
.selection .selection-list .selection-item:hover {
  background-color: var(--primary-color-hover);
  color: var(--primary-color-hover-accent);
}

.loading-screen {
  display: none;
}

.loading-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99999;
}
.loading-block .loading-blocker {
  z-index: 999999;
  background-color: rgba(204, 204, 204, 0.5);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.loading-block .loading {
  position: absolute;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-block .loading img {
  position: absolute;
  height: 5em !important;
}
.loading-block .loading .loader {
  height: 7em;
  width: 7em;
  border: 0.5em solid var(--primary-color);
  border-bottom: 0.5em solid transparent;
  animation: rotate 1s ease-in-out infinite;
  border-radius: 50%;
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
button {
  border: 1px solid var(--input-border-color);
}
button:focus {
  border: 1px solid var(--input-selected-border-color);
}

.searchbar {
  width: calc(100% - 0.6em);
  margin: 0.3em;
  box-sizing: border-box;
}
.searchbar input {
  box-sizing: border-box;
  padding: 0.5em;
  height: 2.7em;
  border-radius: 0.5em !important;
}
.searchbar .search-icon {
  cursor: pointer;
}

.pagination {
  float: right;
  display: flex;
  font-size: var(--normal-font-size);
  margin: 1em 0.3em;
}
.pagination svg {
  height: 1.2em !important;
  width: 1.2em !important;
  box-sizing: border-box;
  font-size: var(--normal-font-size);
  padding: 0.3em;
  background: var(--primary-color);
  color: var(--primary-color-accent);
  border: none;
  border-radius: 0.2em;
  box-shadow: 0em 0em 0.1em 0em var(--primary-color);
  margin: 0 0.2em;
  cursor: pointer;
}
.pagination .disabled {
  background-color: var(--disable-color) !important;
  color: var(--disable-color-accent) !important;
  box-shadow: none;
  cursor: not-allowed;
}
.pagination .pages-container {
  position: relative;
  z-index: 2;
  margin: 0 0.2em;
  height: 1.8em !important;
  box-sizing: border-box;
  font-size: var(--normal-font-size);
  background: var(--container-background-color);
  border: none;
  border-radius: 0.2em;
  box-shadow: 0em 0em 0.1em 0em var(--shadow-color);
}
.pagination .pages-container .current-page {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.25em;
  width: 3em;
  box-sizing: border-box;
  justify-content: center;
  height: 100%;
  font-weight: var(--bold);
  color: var(--color);
  font-size: var(--normal-font-size);
}
.pagination .pages-container .current-page:focus + .pages,
.pagination .pages-container .pages:hover {
  opacity: 1;
  height: unset;
  max-height: 10em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.pagination .pages-container .pages {
  cursor: pointer;
  position: absolute;
  width: 3em;
  opacity: 0;
  scrollbar-width: thin;
  border-radius: 0.3em;
  background-color: var(--container-background-color);
  box-shadow: 0em 0.1em 0.2em 0em var(--shadow-color);
  left: 0;
  height: 0;
  top: 100%;
  overflow: hidden;
  transition: opacity 300ms ease-in-out, transform 150ms ease-in-out;
}
.pagination .pages-container .pages div {
  color: var(--color);
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  display: block;
  font-size: 0.8em;
  cursor: pointer;
  font-weight: var(--regular);
}
.pagination .pages-container .pages div:hover {
  font-weight: var(--demibold);
}
.pagination .pages-container .pages .active {
  background-color: var(--primary-color);
  color: var(--color);
}

.message-action button {
  margin: 0.3em;
  border-radius: 0.5em;
  padding: 0.4em;
  width: 5em;
  font-weight: var(--bold);
  border: none;
  background-color: var(--primary-color-accent);
  cursor: pointer;
}
.message-action button:hover {
  transform: scaley(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.header .header-text {
  position: relative;
  font-size: var(--header-font-size);
  font-weight: var(--demibold);
  border-bottom: 1px solid var(--primary-color);
}
.header .header-text:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 0;
  border-bottom: 1px solid var(--primary-color);
  bottom: -0.3em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.message-content {
  white-space: pre-line;
}

.table-container {
  margin: 0.5em;
  overflow-x: auto;
  box-shadow: 0em 0em 0.2em var(--shadow-color);
  -webkit-overflow-scrolling: touch;
}

.item-table {
  border-collapse: collapse;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  box-sizing: border-box;
}
.item-table tr {
  box-sizing: border-box;
}
.item-table tr td,
.item-table tr th {
  box-sizing: border-box;
}
.item-table tr td {
  padding: 0.8em 0.5em;
}
.item-table tr th {
  padding: 0.5em;
  border: 1px solid var(--shadow-color);
}
.item-table thead {
  position: sticky;
  top: 0em;
  z-index: 1;
}
.item-table thead .sort-control {
  background-color: var(--primary-color);
  border: none;
  box-shadow: none;
  color: var(--primary-color-accent);
  cursor: pointer;
}
.item-table thead tr {
  color: var(--primary-color-accent);
  background-color: var(--primary-color);
}
.item-table thead tr th {
  font-weight: var(--demibold);
  min-width: 5em;
  height: 3em;
}
.item-table thead tr th .btn {
  margin: 0 0 0 1em;
  padding: 0;
  background: transparent;
}
.item-table thead tr th .btn:hover {
  box-shadow: unset;
  transform: scale(1.1);
}
.item-table tbody {
  border-collapse: collapse;
}
.item-table tbody .selected {
  background-color: var(--table-selected-color) !important;
  color: var(--table-selected-color-accent) !important;
}
.item-table tbody tr {
  cursor: pointer;
}
.item-table tbody tr:nth-child(even) {
  background: var(--table-alternating);
  color: var(--table-alternating-accent);
}
.item-table tbody tr:nth-child(odd) {
  background: var(--table-color);
  color: var(--table-color-accent);
}
.item-table tbody tr:hover {
  box-sizing: border-box;
  background-color: var(--table-hover-color);
  color: var(--table-hover-color-accent);
}
.item-table tbody tr td {
  box-sizing: border-box;
}
.item-table tbody tr td:has(.collapsible-container) {
  padding: 0em !important;
}
.item-table tbody tr td:has(.collapsible-container) .collapsible-container {
  margin: 0em;
  height: 100%;
  box-shadow: none;
}
.item-table tbody tr td:has(.collapsible-container) .collapsible-container .content {
  border: none;
}
.item-table tbody tr .no-padding {
  height: unset !important;
  padding: 0em !important;
}
.item-table tfoot {
  position: sticky;
  bottom: 0.5em;
}
.item-table tfoot tr {
  color: var(--primary-color-accent);
  background-color: var(--primary-color);
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.btn-actions-group-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-actions-group {
  margin: 0.5em;
  border-radius: 0.5em;
  box-sizing: border-box;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
}
.btn-actions-group .btn-action:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.btn-actions-group .btn-action:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-right: 0 !important;
}
.btn-actions-group .secondary-action {
  background-color: var(--secondary-button-color) !important;
  color: var(--secondary-button-color-accent) !important;
}
.btn-actions-group .btn-action {
  cursor: pointer;
  color: var(--button-color-accent);
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.7em;
  min-width: 3em;
  border-right: 0.2em solid var(--container-background-color);
  transition: transform 0.2s ease-in-out;
}
.btn-actions-group .btn-action .btn-desc {
  margin-left: 0.5em;
}
.btn-actions-group .btn-action span {
  font-weight: var(--regular);
}
.btn-actions-group .btn-action:hover:not(:disabled, .scale-fix) {
  border-radius: 0.3em;
  scale: 1.1;
  border: none;
  margin-right: 0.2em;
  z-index: 1;
  box-shadow: 0em 0em 0.2em var(--shadow-color);
}
.btn-actions-group .btn-action:disabled {
  background-color: var(--disable-color) !important;
  color: var(--disable-color-accent) !important;
  cursor: not-allowed !important;
  scale: 1 !important;
}
.btn-actions-group .btn-action:focus:not(:disabled) {
  outline: none;
  border-radius: 0.3em;
  scale: 1.1;
  border: none;
  margin-right: 0.2em;
  z-index: 1;
  box-shadow: 0em 0em 0.2em var(--shadow-color);
}

.desktop-features {
  margin-left: 0.5em;
}

.converter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}
.converter-container .converter-group {
  width: 100%;
}
.converter-container .arrow {
  margin: 1em;
}

.btn-border {
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 1.5em;
  text-align: center;
  color: var(--primary-color);
  font-size: var(--normal-font-size);
  font-weight: var(--bold);
  padding: 0.5em;
  text-transform: uppercase;
  display: flex;
  width: 6em;
  background-color: transparent;
  cursor: pointer;
}
.btn-border:hover {
  background: var(--primary-color);
  color: var(--primary-color-accent);
}

.btn-icon {
  margin: 0.3em 0.5em;
  box-shadow: 0em 0em 0.4em 0em var(--shadow-color);
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-color);
}
.btn-icon:hover {
  background: var(--primary-color);
  color: var(--primary-color-accent);
}

tbody tr {
  cursor: pointer;
}

.load-more {
  cursor: pointer;
}
.load-more:hover {
  font-weight: var(--bold);
}

.body-modal,
.body-loading {
  overflow: hidden;
}

.head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-content .container {
  display: flex;
  justify-content: flex-start;
  margin: 1em;
}

.filter-container {
  display: flex;
  margin: 1em;
}

.custom-display {
  margin: 0.2em;
}
.custom-display .display-title {
  font-size: var(--label-size);
  font-weight: var(--demibold);
}
.custom-display .display-value {
  font-size: var(--value-font-size);
  margin-left: 0.3em;
}

.modal-container {
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-container .systemUser-management-table {
  height: 30vh !important;
}
.modal-container .office-management-table {
  height: 30vh !important;
}
.modal-container .user-role-modules-container {
  height: 60vh !important;
}
.modal-container .user-role-modules-container .title {
  flex-direction: row !important;
  justify-content: flex-start !important;
}
.modal-container .search-modal {
  width: 70%;
}
.modal-container .management-modal {
  width: 97%;
}
.modal-container .modal-content {
  border-radius: 0.3em;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  align-self: center;
  z-index: 10;
  background: var(--container-background-color);
  max-width: 97%;
  min-width: 30%;
  box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
}
.modal-container .modal-content .modal-content-header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0em 0em 0.5em var(--shadow-color);
  background-color: var(--primary-color);
}
.modal-container .modal-content .modal-content-header .header-text {
  font-size: var(--modal-header-font-size);
  color: var(--primary-color-accent);
  margin-right: 1em;
}
.modal-container .modal-content .modal-content-header .close-icon {
  cursor: pointer;
  color: var(--primary-color-accent);
  height: 1.3em !important;
  width: 1.3em !important;
}
.modal-container .modal-content .search-body {
  height: 80vh;
}
.modal-container .modal-content .modal-content-body {
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-wrap: break-word;
}
.modal-container .modal-content .modal-content-body .message-body {
  text-align: center;
  padding: 2em;
  min-width: 20em;
  min-height: 5em;
  max-width: 70em;
  max-height: 40em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal-container .modal-content .modal-content-body .table-container {
  height: 100vh;
  overflow: auto;
}
.modal-container .modal-content .btn-modal {
  border-radius: 0.3em;
  border: none;
  color: var(--primary-color-accent);
  background-color: var(--primary-color);
  padding: 0.6em 2em;
  margin: 0.3em;
  cursor: pointer;
}
.modal-container .modal-content .btn-modal:disabled {
  background-color: var(--shadow-color);
  cursor: not-allowed;
}
.modal-container .modal-content .btn-primary {
  background: var(--primary-color);
  color: var(--primary-color-accent);
  border: none;
  cursor: pointer;
}
.modal-container .modal-content .btn-primary:hover {
  font-weight: var(--demibold);
}
.modal-container .modal-content .btn-primary:focus {
  outline: none;
  font-weight: var(--demibold);
}
.modal-container .modal-content .btn-secondary {
  background: var(--secondary-color);
  color: var(--secondary-color-accent);
  border: none;
  cursor: pointer;
}
.modal-container .modal-content .btn-secondary:hover {
  font-weight: var(--demibold);
}
.modal-container .modal-content .btn-secondary:focus {
  outline: none;
  font-weight: var(--demibold);
}
.modal-container .modal-content .modal-footer {
  border-top: 0.1em solid var(--shadow-color);
  display: flex;
  flex-direction: row-reverse;
}
.modal-container .modal-blocker {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: var(--blocker-color);
  opacity: 0.6;
  z-index: 8;
}

.action-with-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-with-name .care-of-display {
  font-size: var(--normal-font-size);
  width: 5em;
}

.report-table .selected {
  background: var(--primary-color-selected) !important;
}

.module-right-container {
  display: flex;
  margin: 1em 0.5em;
}
.module-right-container .module-right {
  margin-right: 1em;
}

.report-content {
  height: calc(100vh - 18em);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.report-content-small-header {
  height: calc(100vh - 14.5em);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.check {
  display: flex;
  justify-content: center;
  align-self: center;
}
.check .check-label {
  align-self: center;
}

.left-content {
  text-align: left !important;
}
.left-content .check {
  justify-content: flex-start !important;
}

.center-content {
  text-align: center !important;
}

.check-label {
  margin-left: 0.3em !important;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.check-container {
  z-index: 0;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: var(--normal-font-size);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 15px;
  width: 15px;
  border: 1px solid var(--color);
}
.check-container:has(input:checked) {
  border-color: var(--primary-color);
}
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}
.check-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
}
.check-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid var(--primary-color-accent);
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
}
.check-container input:checked ~ .checkmark:after {
  display: block;
}

.toaster-main-container {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
}
.toaster-main-container .toaster-container {
  position: relative;
  cursor: pointer;
  background-color: var(--toaster-background-color);
  box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
  width: 20em;
  min-height: 8em;
  margin: 0.2em;
  border-radius: 0.3em;
  color: var(--toaster-background-color-accent);
  display: flex;
  flex-direction: column;
}
.toaster-main-container .toaster-container:hover {
  transform: scale(1.03);
}
.toaster-main-container .toaster-container .toaster-title-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.toaster-main-container .toaster-container .toaster-title-container .title {
  font-weight: var(--demibold);
}
.toaster-main-container .toaster-container .toaster-title-container .close {
  cursor: pointer;
}
.toaster-main-container .toaster-container .progress {
  height: 0.1em;
  background-color: var(--primary-color);
}
.toaster-main-container .toaster-container .progress:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0.1em;
  opacity: 0.5;
  background-color: var(--background-color);
}
.toaster-main-container .toaster-container .content {
  padding: 1em;
  word-wrap: break-word;
  max-height: 20em;
  overflow-y: auto;
  font-weight: var(--regular);
  -webkit-overflow-scrolling: touch;
}

.group-check {
  box-shadow: 0em 0em 0.1em var(--shadow-color);
  margin: 1em 0.5em;
}
.group-check .header {
  padding: 1em;
  box-shadow: 0em 0.1em 0.1em var(--shadow-color);
}
.group-check .content {
  padding: 1em;
}

.collapsible-container {
  box-shadow: 0em 0em 0.1em var(--shadow-color);
  margin: 0.5em;
  box-sizing: border-box;
}
.collapsible-container .header {
  box-sizing: border-box;
  display: flex;
}
.collapsible-container .header .title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collapsible-container .header .title .title-text {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0.5em;
  cursor: pointer;
}
.collapsible-container .header .title .title-text label {
  cursor: pointer;
}
.collapsible-container .header .title .title-bold {
  font-size: var(--header-font-size);
  font-weight: var(--demibold);
}
.collapsible-container .header .title .btn-actions-group {
  width: -moz-fit-content;
  width: fit-content;
}
.collapsible-container .header .icon {
  background-color: transparent;
  color: var(--color);
  border: none;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}
.collapsible-container .header .collapse-icon {
  transform: rotate(180deg);
}
.collapsible-container .collapse {
  height: 0em;
  opacity: 0;
  overflow: hidden;
}
.collapsible-container .vissible {
  opacity: 1;
  padding: 0.5em;
  overflow: auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.collapsible-container .content {
  border-top: 0.1em solid var(--shadow-color);
  transition: opacity ease-in-out 0.5s;
}

.module-right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1em;
}
.module-right-container .module-right {
  margin: 0.3em;
}

.report-container {
  width: calc(100% - 1em);
  box-sizing: border-box;
  margin: 0.5em;
  box-shadow: 0em 0em 0.3em var(--shadow-color);
  overflow: hidden;
  border-radius: 0.5em;
}
.report-container .report-title {
  padding: 1em;
  font-size: var(--report-header-font-size);
  box-shadow: 0em 0em 0.1em var(--container-shadow-color);
}
.report-container .report-header {
  min-height: 5em;
  padding: 1em;
  display: flex;
}
.report-container .report-footer {
  box-shadow: 0em 0em 0.1em var(--container-shadow-color);
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.tab-container {
  box-shadow: 0em 0em 0.3em var(--shadow-color);
  border-radius: 0.3em;
  overflow: hidden;
  height: 100%;
}
.tab-container .tab-header-container {
  border: none;
  display: flex;
  align-content: stretch;
  cursor: pointer;
  box-shadow: 0em 0em 0.5em var(--shadow-color);
}
.tab-container .tab-header-container .tab-header {
  padding: 0.5em;
  border: none;
  width: 20em;
  text-align: center;
  font-size: var(--header-font-size);
}
.tab-container .tab-header-container .tab-header:hover {
  color: var(--primary-color-hover-accent);
  background: var(--primary-color-hover);
}
.tab-container .tab-header-container .selected {
  font-weight: var(--demibold);
  color: var(--primary-color-accent);
  background: var(--primary-color);
}
.tab-container .tab-content-container {
  height: 100%;
}
.tab-container .tab-content-container .tab-content {
  display: none;
}
.tab-container .tab-content-container .selected-tab {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .filter-container {
    flex-direction: column;
  }
  .head-content {
    flex-direction: column;
  }
  .menus {
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .btn-actions-group-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .issue-raw-material-head,
  .purchase-raw-material-head {
    flex-direction: column;
  }
  .desktop-features {
    display: none;
  }
  .login-container {
    width: 90%;
    margin: 0.5em;
  }
  .modal-content {
    width: 90%;
  }
  .menu-item-container {
    width: 100% !important;
  }
  .menu-content-blocker {
    width: 0 !important;
  }
}
@media screen and (max-width: 364px) {
  .mobile-profile {
    padding-bottom: 0.5em;
    border-bottom: 0.2em solid var(--shadow-color);
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start !important;
    margin: 0.5em 1em;
  }
  .mobile-profile .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }
  .mobile-profile .name .nav-menu {
    margin: 0em;
    font-size: var(--menu-header-font-size);
    font-weight: var(--demibold);
  }
  .mobile-profile .name .nav-menu .name-icon {
    margin-left: 1em;
  }
  .mobile-profile .logout {
    margin: 0.5em 0em;
    padding: 0em;
    color: var(--primary-color-accent) !important;
  }
}/*# sourceMappingURL=style.css.map */